<div class="AccountList">
    <ul data-bind="foreach: accountNames">
        <li class="AccountLineItem">
            <img src="/Content/social-facebook-icon.png" data-bind="visible: showFacebookIcon" />
            <img src="/Content/Google-app-icon-small.png" data-bind="visible: showGoogleIcon" />
            <span data-bind="text: accountName"></span>
        </li>
    </ul>
    <span data-bind="component: {name: 'Button', params: addGoogleAccount}"></span>
    <div class="has-error" data-bind="visible: showErrorMessage">Unable to retrieve registered accounts!</div>
</div>