body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.error-message {
    background-color: salmon;
    border-color: black;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.AccountList {
    
}

.ContactMerger {
    
}

.AccountList ul {
    list-style: none;
}

.AccountList .AccountLineItem img {
    max-width: 30px;
    max-height: 30px;
}

.ContactList { }

.Contact {
    
}

.Contact .matching {
    
}

.Contact .not-matching {
    color: red;
}

.Contact.ExistingContact {
    border-color: black;
    border-style: solid;
    -ms-border-radius: 2px;
    border-radius: 2px;
    border-width: 1px;
}

.Contact.NonexistentContact {
    background-color: aliceblue;
}