<div class="Contact text-center" data-bind="css: {ExistingContact: contactExists, NonexistentContact: !contactExists()}">
    <div data-bind="if: contactExists">
        <div data-bind="text: name, css:{matching: nameMatches, 'not-matching': !nameMatches()}"></div>
        <div data-bind="text: email, css:{matching: emailMatches, 'not-matching': !emailMatches()}"></div>
        <span data-bind="component: {name:'Button', params: syncButton}, visible: notOnlyColumn"></span>
        <div class="error-message" data-bind="visible: showErrorMessage">Server could not sync data!</div>
    </div>
    <div class="text-center" data-bind="ifnot: contactExists">
        No Data
    </div>
</div>